<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 1500px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Resume--Intello Group,Inc</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/candidateProfile">Candidate
						Service</a></li>
				
				<li><a href="#">Home</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<h4>Candidate Section</h4>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="/getAddress">Address</a></li>
					<li><a href="/getExperience">Experience</a></li>
					<li><a href="/getEducation">Education</a></li>
					
				</ul>
				<br>

			</div>

			<div class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading">Candidate Information</div>
					<div class="panel-body">
						<form class="form-horizontal" action="#" th:action="@{/saveCandidateProfile}"
							method="post" th:object="${candidateDto}">

							<ul class="nav nav-pills">
								<li class="active"><a data-toggle="pill" href="#basic">General</a></li>
								<li><a data-toggle="pill" href="#profile1">Profile1</a></li>
								<li><a data-toggle="pill" href="#profile2">Profile2</a></li>

							</ul>
							<hr>
							<hr>

							<div class="tab-content">
								<div id="basic" class="tab-pane fade in active">
									<div class="form-group">
										<label class="control-label col-sm-2" for="candidateId">Candidate
											Id:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="text" th:field="*{candidateId}" disabled
												class="form-control" id="candidateId"
												placeholder="Candidate Id">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="aliasName">Alias
											Name:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="text" th:field="*{aliasName}"
												class="form-control" id="aliasName"
												placeholder="Enter AliasName">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="firstName">First
											Name:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="text" th:field="*{firstName}"
												class="form-control" id="firstName"
												placeholder="Enter First Name">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="middleName">Middle
											Name:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="text" th:field="*{middleName}"
												class="form-control" id="middleName"
												placeholder="Enter Middle Name">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="lastName">Last
											Name:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="text" th:field="*{lastName}"
												class="form-control" id="lastName"
												placeholder="Enter Last Name">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="profileTitle">Profile
											Title:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="text" th:field="*{profileTitle}"
												class="form-control" id="profileTitle"
												placeholder="Enter Profile Title">
										</div>
									</div>

								</div>
								<div id="profile1" class="tab-pane fade">
									<div class="form-group">
										<label class="control-label col-sm-2" for="interViewMode">InterView
											Mode:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<select class="form-control" id="interViewMode"
												th:field="*{interViewMode}">
												<option th:value="'Skype'" th:text="Skype"></option>
												<option th:value="'Zoom'" th:text="Zoom"></option>
												<option th:value="'Webex'" th:text="Webex"></option>
												<option th:value="'F2F'" th:text="F2F"></option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-sm-2" for="interviewStatuses">Interview
											Statuses :</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<select class="form-control" id="interviewStatuses"
												th:field="*{interviewStatuses}">
												<option th:value="'Scheduled'" th:text="Scheduled"></option>

												<option th:value="'POReceived'" th:text="POReceived"></option>

												<option th:value="'ProjectStarted'" th:text="ProjectStarted"></option>

												<option th:value="'Rejected'" th:text="Rejected"></option>

												<option th:value="'Pending'" th:text="Pending"></option>


											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="password">Password
											:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="password" th:field="*{password}"
												class="form-control" id="password"
												placeholder="Enter Password">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="altPassword">Alternate
											Password :</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="password" class="form-control" id="altPassword"
												placeholder="Enter Alternate Password">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-2" for="birthDate">BirthDate
											:</label>
										<div class="col-xs-4 col-sm-4 col-lg-4">
											<input type="date" th:field="*{birthDate}" id="birthDate"
												name="birthDate"> <span
												class="glyphicon glyphicon-calendar"></span>

										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="workExperience">Work
										Experience :</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<input type="text" th:field="*{workExperience}"
											class="form-control" id="workExperience"
											placeholder="Enter Work Experience">
									</div>
								</div>
							
					<div id="profile2" class="tab-pane fade">
								<div class="form-group">
									<label class="control-label col-sm-2" for="releventExperience">Relevent
										Experience :</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<input type="text" th:field="*{releventExperience}"
											class="form-control" id="releventExperience"
											placeholder="Relevent Experience">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="comment">comment
										:</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<input type="text" th:field="*{comment}" class="form-control"
											id="comment" placeholder="Enter comment">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="hiringType">HiringType
										:</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<select class="form-control" id="hiringType"
											th:field="*{hiringType}">
											<option th:value="'W2'" th:text="W2"></option>
											<option th:value="'C2C'" th:text="C2C"></option>
											<option th:value="'C2H'" th:text="C2H"></option>


										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2" for="email">email
										:</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<input type="email" class="form-control" th:field="*{email}"
											id="email" placeholder="Enter Email">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="alternateEmail">Alternate
										Email :</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<input type="text" th:field="*{alternateEmail}"
											class="form-control" id="alternateEmail"
											placeholder="Enter Alternate Email">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="coverLetter">Cover
										Letter :</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">
										<input type="text" th:field="*{coverLetter}"
											class="form-control" id="coverLetter"
											placeholder="Enter Cover Letter">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="summary">Summary
										:</label>
									<div class="col-xs-4 col-sm-4 col-lg-4">

										<textarea class="form-control" th:field="*{summary}" rows="5"
											id="summary" placeholder="Enter Summary"></textarea>

									</div>
								</div>
							</div>
					</div>
					<button type="submit" class="btn btn-success">Submit</button>

					</form>
					<hr>


				</div>
			</div>





		</div>
	</div>
	</div>

	<footer class="container-fluid">
		<p>Footer Text</p>
	</footer>
	<!-- <script th:src="@{src=webjars/jquery/1.9.1/jquery.min.js}"></script>
	<script th:src="@{src=webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	 -->
	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(function() {

			$('#birthDate').data("DateTimePicker").FUNCTION();
		});
	</script>

</body>
</html>
