<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <meta charset="UTF-8">  
    <title>Secured Page</title>  
</head>  
<body>  
    <h1>Secured Page</h1>  
    <span th:text="${#authentication.name}"></span>  
    
    
    <div th:if="${candidateDtos != null}">
    
    	<table>
		    <thead>
		        <tr>
		            <th> NAME </th>
		            <th> Profile Title </th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:if="${candidateDtos.empty}">
		            <td colspan="2"> No Books Available </td>
		        </tr>
		        <tr th:each="obj : ${candidateDtos}">
		            <td><span th:text="${obj.firstName}"></span></td>
		           <td><span th:text="${obj.profileTitle}"></span></td>
		        </tr>
		    </tbody>
		</table>
    
    
    </div>
    
    
</body>  
</html>