<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.modal-dialog, .modal-content {
	/* 80% of window height */
	height: 90%;
}

.modal-body {
	/* 100% = dialog height, 120px = header + footer */
	max-height: calc(100% - 120px);
	overflow-y: scroll;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 1500px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#overlay {
	background: #ffffff;
	color: #666666;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5000;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
	padding-top: 25%;
	opacity: .80;
}

.spinner {
	margin: 0 auto;
	height: 64px;
	width: 64px;
	animation: rotate 0.8s infinite linear;
	border: 5px solid firebrick;
	border-right-color: transparent;
	border-radius: 50%;
}

@
keyframes rotate { 0% {
	transform: rotate(0deg);
}
100%
{
transform




:


 


rotate




(360
deg


);
}
}


.clsDatePicker {
    z-index: 100000;
}
</style>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	id="bootstrap-css">
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
 

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/dashboardui.css}" rel="stylesheet">

<!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->

<script th:src="@{/js/bootstrap.min.js}"></script>



<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

<script th:src="@{/js/candidate/summary.js}"></script>




<link th:href="@{/css/custom.css}" rel="stylesheet">


<link rel="shortcut icon" th:href="@{/assets/images/fav.jpg}">
<link rel="stylesheet" th:href="@{/assets/css/fontawsom-all.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}" />



<!------ Include the above in your HEAD tag ---------->
<!------ Include the above in your HEAD tag ---------->

<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="offcanvas"]').click(function() {
			$("#navigation").toggleClass("hidden-xs");
		});
		
		
		
		
		 $('#birthDate').datepicker({
		     dateFormat: 'dd-mm-yy',
		     minDate: '+5d',
		     changeMonth: true,
		     changeYear: true,
		     altFormat: "yy-mm-dd"
		 });
		
	});
</script>






</head>

<body class="home">



	<div th:insert="header.html :: header"></div>





	<div class="container-fluid display-table">
		<div class="row display-table-row">



			<!-- menu -->
			<div th:insert="nav.html :: nav"></div>
			<!-- /menu -->


			<div class="col-md-10 col-sm-11 display-table-cell v-align">
				<!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
				<!-- <div class="user-dashboard">
					<h1>
						Hello, <span th:text="${#authentication.name}"></span>
					</h1>

				</div> -->
				<div class="container-fluid">

					<div class="row content">

						<div class="col-sm-9">

							<div class="container-fluid overcover">
								<div class="container profile-box">
									<div class="row">
										<div class="col-md-4 left-co">
											<div class="left-side">
												<div class="profile-info">
													<img src="/assets/images/profile.jpg" alt="">
													<h3>
														<span id="firstNameAvatar" STYLE="font-size: 16px"
															th:text="${candidateDto.firstName}"></span> <span
															id="lastNameAvatar" STYLE="font-size: 16px"
															th:text="${candidateDto.lastName}"></span>
													</h3>
													<span id="profileTitleAvatar" STYLE="font-size: 12px"
														th:text="${candidateDto.profileTitle}"></span>
												</div>
												<h4 class="ltitle">Contact</h4>
												<div class="contact-box pb0">
													<div class="icon">
														<i class="fas fa-phone"></i>
													</div>
													<div class="detail">
														<div th:if="${candidateDto.mobiles != null}">
															<div th:each="obj : ${candidateDto.mobiles}">
																<span th:text="${obj.mobileNumber}"></span>
															</div>
															<br>
															<div th:if="${candidateDto.phones != null}">
																<div th:each="obj : ${candidateDto.phones}">
																	<span th:text="${obj.phoneNumber}"></span>
																</div>
															</div>
														</div>

													</div>
												</div>
												<div class="contact-box pb0">
													<div class="icon">
														<i class="fas fa-globe-americas"></i>
													</div>
													<div class="detail">
														<span th:text="${candidateDto.email}"></span> <br> <span
															th:text="${candidateDto.alternateEmail}"></span>
													</div>
												</div>
												<!-- <div class="contact-box">
													<div class="icon">
														<i class="fas fa-map-marker-alt"></i>
													</div>
													<div class="detail">First Floor,Vincent Plaza,
														Toranto, Canada</div>
												</div> -->
												<h4 class="ltitle">Contact</h4>
												<ul class="row social-link no-margin">
													<li><i class="fab fa-facebook-f"></i>
														<div th:if="${candidateDto.socialProfiles != null}">
															<div th:each="obj : ${candidateDto.socialProfiles}">

																<div th:if="${obj.type=='facebook'}">
																	<span th:text="${obj.url}"></span>
																</div>
															</div>
														</div></li>
													<li><i class="fab fa-twitter"></i>
														<div th:if="${candidateDto.socialProfiles != null}">
															<div th:each="obj : ${candidateDto.socialProfiles}">

																<div th:if="${obj.type=='twitter'}">
																	<span th:text="${obj.url}"></span>
																</div>
															</div>
														</div></li>
													<li><i class="fab fa-linkedin-in"></i>
														<div th:if="${candidateDto.socialProfiles != null}">
															<div th:each="obj : ${candidateDto.socialProfiles}">

																<div th:if="${obj.type=='linkedIn'}">
																	<span th:text="${obj.url}"></span>
																</div>
															</div>
														</div></li>
													<li><i class="fab fa-github"></i></li>
												</ul>
												<h4 class="ltitle">Referencess</h4>

												<div class="refer-cov">
													<b>Jonney Smith</b>
													<p>CEO Casinocarol</p>
													<span>p +00 890 1232 8767</span>
												</div>
												<div class="refer-cov">
													<b>Jonney Smith</b>
													<p>System Administrator</p>
													<span>p +00 890 1232 8767</span>
												</div>
												<h4 class="ltitle">Hobbies</h4>
												<ul class="hoby row no-margin">
													<li><i class="fas fa-pencil-alt"></i> <br>
														Writing</li>
													<li><i class="fas fa-bicycle"></i> <br> Cycling</li>
													<li><i class="fas fa-futbol"></i> <br> Football</li>
													<li><i class="fas fa-film"></i><br> Movies</li>
													<li><i class="fas fa-plane-departure"></i> <br>Travel</li>
													<li><i class="fas fa-gamepad"></i> <br> Games</li>
												</ul>
											</div>
										</div>
										<div class="col-md-8 rt-div">
											<div class="rit-cover">
												<div class="hotkey">
													<h1 class="">
														<span id="firstNameView"
															th:text="${candidateDto.firstName}"></span> <span
															id="lastNameView" th:text="${candidateDto.lastName}"></span>
													</h1>
													<small><span STYLE="font-size: 12px"
														id="profileTitleView"
														th:text="${candidateDto.profileTitle}"></span></small>
												</div>
												<h2 class="rit-titl">
													<i class="far fa-user"></i> Summary <a data-toggle="modal"
														data-target="#summary" href="#" style="float: right;"><i
														class="fas fa-edit"></i>Edit</a>
												</h2>
												<div class="about">
													<p>
														<span STYLE="font-size: 12px" id="summaryView"
															th:text="${candidateDto.summary}"></span>
													</p>
													<div class="btn-ro row no-margin">
														<ul class="btn-link">
															<li><a href=""><i class="fas fa-paper-plane"></i>
																	Hire Me</a></li>
															<li><a href=""><i
																	class="fas fa-cloud-download-alt"></i> Download Resume</a>
															</li>
														</ul>
													</div>
												</div>
												<h2 class="rit-titl">
													<i class="far fa-user"></i> Profile <a data-toggle="modal"
														data-target="#profile" href="#" style="float: right;"><i
														class="fas fa-edit"></i>Edit</a>

												</h2>
												<div class="row">
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">Alias Name :</span>
														</h4>
														<span id="aliasNameView"
															th:text="${candidateDto.aliasName}"></span>
													</div>
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">Place Of Birth :</span>
														</h4>
														<span id="placeOfBirthView"
															th:text="${candidateDto.placeOfBirth}"></span>
													</div>
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">Marital Status :</span>
														</h4>
														<span id="maritalStatusView"
															th:text="${candidateDto.maritalStatus}"></span>
													</div>
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">Birth Date :</span>
														</h4>
														<span id="birthDateView"
															th:text="${#dates.format(candidateDto.birthDate,'MM/dd/yyyy')}"></span>
													</div>
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">Work Experience :</span>
														</h4>
														<span id="workExperienceView"
															th:text="${candidateDto.workExperience}"></span>
													</div>
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">Relevant Experience
																:</span>
														</h4>
														<span id="releventExperienceView"
															th:text="${candidateDto.releventExperience}"></span>
													</div>
													<div class="col-xs-4 col-sm-4 col-lg-4">
														<h4>
															<span STYLE="font-size: 12px">HiringType :</span>
														</h4>
														<span id="hiringTypeView"
															th:text="${candidateDto.hiringType}"></span>

													</div>
												</div>
												<h2 class="rit-titl">
													<i class="fa fa-home fa-fw"></i> Address <a
														data-toggle="modal" data-target="#address" href="#"
														style="float: right;"><i class="fas fa-edit"></i>Edit</a>
												</h2>
												<div id="addressFragment">
													<div th:if="${candidateDto.addresses != null}"
														th:each="obj : ${candidateDto.addresses}">

														<div class="address">
															<div th:if="${obj.isDeleted == false}">
																<div th:if="${obj.country != null}">
																	<h4>

																		<span STYLE="font-size: 12px" th:text="${obj.country}"></span>
																	</h4>
																</div>
																<span STYLE="font-size: 12px" th:text="${obj.state}"></span>,
																<span STYLE="font-size: 12px" th:text="${obj.city}"></span>
																<div th:if="${obj.addressLine != null}">
																	<ul>
																		<li><i class="far fa-hand-point-right"></i> <span
																			STYLE="font-size: 12px" th:text="${obj.addressLine}"></span>
																		</li>

																	</ul>

																</div>
															</div>
														</div>
													</div>
												</div>
												<h2 class="rit-titl">
													<i class="fa fa-home fa-fw"></i> workExp <a
														data-toggle="modal" data-target="#workExp" href="#"
														style="float: right;"><i class="fas fa-edit"></i>Edit</a>
												</h2>
												<div id="workExpFragment">
													<div th:if="${candidateDto.experienceEntries != null}">
														<div th:each="obj : ${candidateDto.experienceEntries}">
															<div th:if="${obj.isDeleted == false}">
																<div class="work-exp">
																	<h4>
																		<span th:text="${obj.title}"></span>
																	</h4>
																	<span><span
																		th:text="${#dates.year(obj.startDate)}"></span>-<span
																		th:text="${#dates.year(obj.endDate)}"></span></span>, <i><b><span
																			th:text="${obj.company}"></span>/ <span
																			th:text="${obj.industry}"></span></b></i>

																	<ul>
																		<li><i class="far fa-hand-point-right"></i> <span
																			STYLE="font-size: 12px" th:text="${obj.summary}"></span>
																		</li>

																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<h2 class="rit-titl">
													<i class="fas fa-graduation-cap"></i> Education <span
														style="float: right;"><i class="fas fa-edit"></i>Edit</span>
												</h2>
												<div class="education">

													<div th:if="${candidateDto.educationEntries != null}">
														<div class="row no-margin">
															<div th:each="obj : ${candidateDto.educationEntries}">
																<ul>
																	<li class="col-md-6"><span
																		th:text="${#dates.year(obj.startDate)}"></span> -<span
																		th:text="${#dates.year(obj.endDate)}"></span> <br>
																		<span th:text="${obj.degree}"></span> - <span
																		th:text="${obj.fieldOfStudy}"></span> ,<span
																		th:text="${obj.school}"></span></li>
																</ul>

															</div>
														</div>
														<!-- <ul>
														
														<li class="col-md-6"><span>2013-2015</span> <br>
															Master Degree - Cambridg University</li>
														<li class="col-md-6"><span>2013-2015</span> <br>
															Master Degree - Cambridg University</li>
														<li class="col-md-6"><span>2013-2015</span> <br>
															Master Degree - Cambridg University</li>
													</ul> -->




													</div>

													<h2 class="rit-titl">
														<i class="fas fa-users-cog"></i> Skills <span
															style="float: right;"><i class="fas fa-edit"></i>Edit</span>
													</h2>

													<div th:if="${candidateDto.skils != null}">
														<div class="profess-cover row no-margin">
															<div th:each="obj : ${candidateDto.skils}">
																<div class="col-md-6">
																	<div class=" prog-row row">
																		<div class="col-sm-6">
																			<span th:text="${obj.name}"></span>
																		</div>
																		<div class="col-sm-3">
																			<div class="progress">
																				<div class="progress-bar" role="progressbar"
																					style="width: 65%" aria-valuenow="25"
																					aria-valuemin="0" aria-valuemax="100"></div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>


														<!-- <div class="col-md-6">
															<div class="row prog-row">
																<div class="col-sm-6">PHP</div>
																<div class="col-sm-6">
																	<div class="progress">
																		<div class="progress-bar" role="progressbar"
																			style="width: 85%" aria-valuenow="25"
																			aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div> -->

														<!-- <div class="col-md-6">
															<div class="row prog-row">
																<div class="col-sm-6">Web Design</div>
																<div class="col-sm-6">
																	<div class="progress">
																		<div class="progress-bar" role="progressbar"
																			style="width: 75%" aria-valuenow="25"
																			aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div> -->
														<!-- <div class="col-md-6">
															<div class="row prog-row">
																<div class="col-sm-6">Web Development</div>
																<div class="col-sm-6">
																	<div class="progress">
																		<div class="progress-bar" role="progressbar"
																			style="width: 55%" aria-valuenow="25"
																			aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div> -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</div>






		<!-- Summary Modal -->
		<div class="modal fade" id="summary" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">

			<div class="modal-dialog">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="far fa-user"></i> Summary
						</h4>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">
						
						<div class="alert alert-success alert-dismissible" role="alert" style="display:none">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Congratulations!</strong> Now you're ready to do the <a href="#" class="alert-link">next shoelace</a>.
						</div>
						
						<form id="summary-form">
							<div class="form-group">
								<label for="firstName">First Name</label> <input type="text"
									class="form-control" name="firstName" id="firstName"
									th:value="${candidateDto.firstName}"
									placeholder="Enter First Name" />
							</div>
							<div class="form-group">
								<label for="lastName">Last Name</label> <input type="text"
									class="form-control" name="lastName" id="lastName"
									th:value="${candidateDto.lastName}"
									placeholder="Enter Last Name" />
							</div>
							<div class="form-group">
								<label for="profileTitle">Profile Title</label> <input
									type="text" class="form-control" name="profileTitle"
									id="profileTitle" th:value="${candidateDto.profileTitle}"
									placeholder="Enter Profile Title" />
							</div>
							<div class="form-group">
								<label for="summary">Summary</label>
								<textarea class="form-control" rows="5" id="summary"
									name="summary">[[${candidateDto.summary}]]</textarea>
							</div>

							<button type="submit" class="btn btn-primary">Save
								changes</button>

						</form>




					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close</button>

					</div>

				</div>

			</div>

		</div>




		<!-- Profile Modal -->
		<div class="modal fade" id="profile" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">

			<div class="modal-dialog">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="far fa-user"></i> Profile
						</h4>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">

						<form id="profile-form">
							<div class="form-group">
								<label for="aliasName">Alias Name</label> <input type="text"
									class="form-control" name="aliasName" id="aliasName"
									th:value="${candidateDto.aliasName}"
									placeholder="Enter Alias Name" />
							</div>
							<div class="form-group">
								<label for="placeOfBirth">Place Of Birth</label> <input
									type="text" class="form-control" name="placeOfBirth"
									id="placeOfBirth" th:value="${candidateDto.placeOfBirth}"
									placeholder="Enter Place Of Birth" />
							</div>
							<div class="form-group">
								<label for="maritalStatus">Marital Status</label> 
								
								<!-- <input
									type="text" class="form-control" name="maritalStatus" 
									id="maritalStatus"
									th:value="${candidateDto.maritalStatus}"
									placeholder="Enter Marital Status" /> -->
									
								<select id="maritalStatus" class="form-control" name="maritalStatus">
									
									<option value="Single" th:selected="${candidateDto.maritalStatus == 'Single'}">Single</option>
									<option value="Married" th:selected="${candidateDto.maritalStatus == 'Married'}">Married</option>
									<option value="Widowed" th:selected="${candidateDto.maritalStatus == 'Widowed'}">Widowed</option>
									<option value="Divorced" th:selected="${candidateDto.maritalStatus == 'Divorced'}">Divorced</option>
								</select>
									
								
										 
									
									
									
							</div>
							<div class="form-group">
								<label for="birthDate">Birth Date</label> <input type="text"
									class="form-control" name="birthDate" id="birthDate"
									th:value="${#dates.format(candidateDto.birthDate,'MM/dd/yyyy')}"
									placeholder="Enter Birth Date" />
							</div>
							<div class="form-group">
								<label for="workExperience">Work Experience</label> <input
									type="text" class="form-control" name="workExperience"
									id="workExperience" th:value="${candidateDto.workExperience}"
									placeholder="Enter Wrok Experience" />
							</div>
							<div class="form-group">
								<label for="releventExperience">Relevant Experience</label> <input
									type="text" class="form-control" name="releventExperience"
									id="releventExperience"
									th:value="${candidateDto.releventExperience}"
									placeholder="Enter Relevent Experience" />
							</div>
							<div class="form-group">
								<label for="hiringType">Hiring Type</label> <input type="text"
									class="form-control" name="hiringType" id="hiringType"
									th:value="${candidateDto.hiringType}"
									placeholder="Enter Hiring Type" />
							</div>

							<button type="submit" class="btn btn-primary">Save
								changes</button>

						</form>




					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close</button>

					</div>

				</div>

			</div>

		</div>

		<!-- address Modal -->
		<div class="modal fade" id="address" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">

			<div class="modal-dialog">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="far fa-user"></i> Address
						</h4>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">

						<table id="addressTable" class=" table order-list">
							<thead>
								<tr>
									<td>Country</td>
									<td>State</td>
									<td>City</td>
									<td>Address</td>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${candidateDto.addresses != null}"
									th:each="obj,iterator : ${candidateDto.addresses}">
									<td class="col-sm-2"><input type="text"
										class="form-control country" th:value="${obj.country}" /></td>
									<td class="col-sm-2"><input type="text"
										class="form-control state" th:value="${obj.state}" /></td>
									<td class="col-sm-2"><input type="text"
										class="form-control city" th:value="${obj.city}" /></td>
									<td class="col-sm-5"><input type="text"
										class="form-control addressLine" th:value="${obj.addressLine}" />
									</td>
									<td class="col-sm-1"><a th:if="${iterator.index == 0}"
										class="deleteRow"></a> <input th:if="${iterator.index > 0}"
										type="button" class="ibtnDel btn btn-md btn-danger "
										value="Delete"></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5" style="text-align: left;"><input
										type="button" class="btn btn-lg btn-block " id="addrow"
										value="Add Row" /></td>
								</tr>
								<tr>
								</tr>
							</tfoot>
						</table>




					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="addressBtn">
							Save changes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close</button>

					</div>

				</div>

			</div>

		</div>

		<!-- Work Experience  Modal -->
		<div class="modal fade" id="workExp" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">

			<div class="modal-dialog">

				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="far fa-user"></i> Work Experience
						</h4>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">

						<table id="workExp" class=" table order-list">
							<thead>
								<tr>
									<td>Title</td>
									<td>Start Date</td>
									<td>End Date</td>
									<td>Company</td>
									<td>Industry</td>
									<td>Summary</td>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${candidateDto.experienceEntries != null}"
									th:each="obj,iterator : ${candidateDto.experienceEntries}">
									<td class="col-sm-1"><input type="text"
										class="form-control title" th:value="${obj.title}" /></td>
									<td class="col-sm-1"><input type="text"
										class="form-control startDate"
										th:value="${#dates.year(obj.startDate)}" /></td>
									<td class="col-sm-1"><input type="text"
										class="form-control endDate"
										th:value="${#dates.year(obj.endDate)}" /></td>
									<td class="col-sm-1"><input type="text"
										class="form-control company" th:value="${obj.company}" /></td>
									<td class="col-sm-2"><input type="text"
										class="form-control industry" th:value="${obj.industry}" /></td>
									<td class="col-sm-5"><input type="text"
										class="form-control summary" th:value="${obj.summary}" /></td>

									<td class="col-sm-1"><a th:if="${iterator.index == 0}"
										class="deleteRow"></a> <input th:if="${iterator.index > 0}"
										type="button" class="ibtnDel btn btn-md btn-danger "
										value="Delete"></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="12" style="text-align: left;"><input
										type="button" class="btn btn-lg btn-block " id="addrowWorkExp"
										value="Add Row" /></td>
								</tr>
								<tr>
								</tr>
							</tfoot>
						</table>




					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							id="workExperienceBtn">Save changes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close</button>

					</div>

				</div>

			</div>

		</div>



		<div id="overlay" style="display: none;">
			<div class="spinner"></div>
			<br /> Loading...
		</div>







		<script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/assets/js/popper.min.js}"></script>
		<script th:src="@{/assets/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/js/script.js}"></script>
</body>
</html>
